h1 {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
nav {
  text-align: center;
}
nav a {
  padding: 0 10px;
  background-color: grey;
  text-decoration: none;
  color: white;
}
figure figcaption {
  font-size: smaller;
  text-align: center;
}
#featured-property p {
  width: 800px;
  margin: 20px auto;
  text-align: center;
}
#details {
  overflow": hidden;
}
#details div {
  width: 25%;
  float: left;
  background-color: lightgrey;
  text-align: center;
}
section {
  margin-bottom: 20px;
}
hr {
  border: 0;
  margin: 20px 0;
  border-top: 1px solid #ccc;
}